:root {
    --dark-purple:#240e34;
    --med-purple:#321b43;
    --purple:#463057;
    --light-purple:#9086b6;
    --yellow: #ffde16;
    --red: #f00004;
    --cyan: #69c6b0;
    --background: --dark-purple;
}

/* util-classes */
.unstyled-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.multi-gradient {
    background: linear-gradient(90deg, rgba(136, 198, 86, 1) 0%, rgba(203, 219, 42, 1) 20%, rgba(248, 210, 51, 1) 50%, rgba(244, 125, 80, 1) 80%, rgba(242, 97, 70, 1) 100%);
}

.peach-gradient {
    background: linear-gradient(90deg, rgba(242, 97, 70, 1) 0%, rgba(251, 114, 44, 1) 35%, rgba(246, 91, 90, 1) 65%, rgba(248, 83, 113, 1) 100%);
}

.green-gradient {
    background: linear-gradient(90deg, rgba(136, 198, 86, 1) 0%, rgba(195, 180, 73, 1) 35%, rgba(149, 196, 80, 1) 65%, rgba(136, 198, 86, 1) 100%);
}

.pink-gradient {
    background: linear-gradient(90deg, rgba(236, 104, 141, 1) 0%, rgba(230, 113, 164, 1) 35%, rgba(204, 120, 177, 1) 65%, rgba(236, 104, 141, 1) 100%);
}
/* end util classes */

body { margin: 0; padding: 0; background-color: var(--dark-purple);}
html, body { height: 100%; width: 100%;}
body {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 100;
}
h1 {
    font-family: titling-gothic-fb, sans-serif;
    font-size: 73px;
}
h2 {
    font-family: titling-gothic-fb, sans-serif;
    font-size: 66px;
}
h3 {
    font-family: titling-gothic-fb, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}
h4 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}

.main {
    display: flex;
    flex-flow: row;
    height: 100vh;
    width: 100%;
    align-items: stretch;
}

.sidebar {
    flex: 0 0 400px;
    overflow: scroll;
    height: 100vh;
}

.map-container {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    flex: 1 1 auto;
}

#map {
    flex: 2;
}

.filter-bar {
    display: flex;
    flex-flow: row wrap;
    background: var(--dark-purple);
    justify-content: space-evenly;
    color: white;
    box-sizing: border-box;
    align-items: center ;
    flex: 0;
}

.filter-bar .filter-item {
    flex: 1;
    text-align: center;
    padding: 20px 0;
    margin-right: 12px
}

.filter-bar .date-button:last-of-type {
    border-right: none;
}

.filter-bar .date-button:first-of-type {
    border-left: 0.5px solid var(--light-purple);
}

.filter-bar .date-button {
    cursor: pointer;
    border-right: 0.5px solid var(--light-purple);
    border-top: 6px solid var(--dark-purple);
    border-bottom: 6px solid var(--dark-purple);
}

.filter-bar .date-button.active {
    border-right-color: var(--dark-purple);
    border-left-color: var(--dark-purple);
}

.event-card {
    background-color: var(--purple);
    color: white;
    padding: 10px;
    border-bottom: 0.5px solid var(--light-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.event-card.active {
    background-color: var(--dark-purple);
}
.event-card.active h4 {
    color: rgba(244, 125, 80, 1);
}
.event-card .link-button {
    width: 100px;
    margin: 10px;
}

.map-popup .link-button {
    background-color: var(--purple);
    margin-bottom: 3px;
}
.link-button {
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    padding: 5px 20px;
}

.link-button a {
    text-decoration: none;
    color: white;
}
.usa-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-image: url('./usa.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: inline-block;
}

.multi-button {
    color:white;
    background: transparent;
}

.peach-button {
    color:white;
    background: transparent;
}
.green-button {
    color: white;
    background: transparent;
}
.pink-button {
    color: white;
    background: transparent;
}

.multi-button.active {
    color: white;
    background: linear-gradient(90deg, rgba(136, 198, 86, 1) 0%, rgba(203, 219, 42, 1) 20%, rgba(248, 210, 51, 1) 50%, rgba(244, 125, 80, 1) 80%, rgba(242, 97, 70, 1) 100%);
}

.peach-button.active {
    background: linear-gradient(90deg, rgba(242, 97, 70, 1) 0%, rgba(251, 114, 44, 1) 35%, rgba(246, 91, 90, 1) 65%, rgba(248, 83, 113, 1) 100%);
    color: white;
}

.green-button.active {
    background: linear-gradient(90deg, rgba(136, 198, 86, 1) 0%, rgba(195, 180, 73, 1) 35%, rgba(149, 196, 80, 1) 65%, rgba(136, 198, 86, 1) 100%);
    color: white;
}

.pink-button.active {
    background: linear-gradient(90deg, rgba(236, 104, 141, 1) 0%, rgba(230, 113, 164, 1) 35%, rgba(204, 120, 177, 1) 65%, rgba(236, 104, 141, 1) 100%);
    color: white;
}

.mapboxgl-popup-tip {
    visibility: hidden;
}
.mapboxgl-popup-content {
    background: rgb(242, 242, 242);
    box-shadow: 2px 2px 5px;
    border-radius: 0px;
}
.filters {
    position: absolute;
    top: 62px;
    z-index: 1;
    left: 10px;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    padding: 2px;
    background: #ffffffbd;
    border-radius: 5px;
}
.filters .checkbox-container {
    position: relative;
    margin: auto 10px;
}
.filters label {
    margin-left: calc(1em + 4px);
    cursor: pointer;
}
.filters label::before {
    content: '';
    border-radius: 100%;
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #000000;
    position: absolute;
    left: 0;
    top: 2px;
    background-color: transparent;
}

.filters label.active::before {
    background-color: #000000;
}

.map-overlay {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    overflow: auto;
    z-index: 1;
}
.inset {
    width: 230px;
    flex: 1;
    height:150px;
    border:1px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: content-box;
}

.inset .mapboxgl-control-container{
    display: none;
}
.mapboxgl-popup {
    z-index: 3000;
}


@media screen and (max-width: 700px) {
    .main {
        flex-flow: column;
    }
    .map-container {
        height: 60vh;
    }
    .sidebar {
        width: 100%;
        flex: 1 1 100%;
    }
    .inset {
        height: 80px;
    }

}
